<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create new message</h1>
    <div>
        <form action="/new"  method="POST">
            <label for="text">Text</label>
            <input type="text" name="text">
            <label for="user">User</label>
            <input type="text" name="user">
            <label for="added">Added</label>
            <input type="date" name="added">
            <button type="submit">Create message</button>
        </form>
    </div>
</body>
</html>